@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

body{
    background-color: var(--dark-blue);
    font-family: 'Manrope', sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 100vh;
}

h3{
    font-size: 10px;
    color: var(--neon-green);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
}
p{
    font-size: 28px;
    line-height: 1.5;
    color: var(--light-cyan);
}

#wrapper{

    background-color: var(--dark-grayish-blue);
    width: 500px;
    border-radius: 8px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }